<div class="top"><h1>読んだ本一覧❤<h1></div>
<div class="align-container">
    <%= link_to '新規登録', new_book_path, class: "add-book-button" %><br>
</div>


<div class="books-container">
  <% @books.each do |book| %>
    <div class="book-card">
        <%= link_to book.title, book_path(book), class: "book-action-link" %>
        <p>評価:
            <%= (book.rating || 0).times do %>
                ★
            <% end %>
        </p>
    </div>

<div class="book-actions">
    <%= button_to "削除", book_path(book), method: :delete, data: { confirm: "本当に削除しますか？" } %>
    <%= link_to "編集", edit_book_path(book), class: "book-action-link" %>
</div>
<% end %>

</div>
