<h1>本を登録する</h1>
<div class="new-action-link-wrapper">
    <%= link_to '一覧', books_path, class: 'new-action-link'%>
</div>

<h2><%= @book.errors.count %>件のエラーがあります。</h2>
<ul>
    <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
</ul>

<%= form_with model: @book, html: {class: "new-form"}, local: true do |f| %>
    <div>
    <%= f.label :title, 'タイトルを入力' %><br>
    <%= f.text_field :title, class: 'new-input-field' %>
    </div>

    <div>
        <%= f.label :author, 'author' %><br>
        <%= f.text_field :author, class: 'new-input-field' %>
    </div>

    <div>
        <%= f.label :impression, '感想' %><br>
        <%= f.text_area :impression, class: 'impression-field' %>
    </div>

    <div class="rating">
        <% 5.times do |i|%>
            <span class="star" data-value="<%= i + 1 %>">&#9733;</span>
        <% end %>
    </div>
    <%= f.hidden_field :rating, id: "rating-value" %>

    <button type="submit" class="btn-flat">保存する</button>
<% end %>